@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  @apply max-w-[1440px] mx-auto 
}

.backColor {
  @apply bg-gray-900
}
@layer utilities {
  .nav{
    @apply relative   
     hover:text-orange-600 duration-500 text-xl 
  }
  .nav::after{
    @apply content-[''] bg-orange-600 absolute h-[2px] w-[0%] left-0 -bottom-[10px] rounded-full duration-500
  }
  .nav:hover::after{
    @apply w-[100%]
  }
   
}
.box{
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.box::before{
  content: '';
  position: absolute;
  inset: -20px 150px;
  background: linear-gradient(0deg, #EA580C, red);
  animation: animate linear 4s infinite;
  z-index: 1;
}

.box:hover::before{
  inset: -10px -10px;
}
.content{
  position: absolute;
  inset: 15px;
  border-radius: 50%;
  border: 10px solid white;
  background:linear-gradient(120deg, green , orange,blue,yellow, white, black);
  z-index:2;
  overflow: hidden;
}


@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* small device start  */
@media screen and (max-width: 767px) {
  .box{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .box::before{
    content: '';
    position: absolute;
    inset: -20px 100px;
    background: linear-gradient(0deg, #EA580C, red);
    animation: animate linear 4s infinite;
    z-index: 1;
  }
  
  .box:hover::before{
    inset: -10px -10px;
  }
  .content{
    position: absolute;
    border-radius: 50%;
    background:linear-gradient(120deg, green , orange,blue,yellow, white, black);
    z-index:2;
    border: 10px solid white;
  }
  
}
  /* small device end  */